section.section.s-program-course
  .l-default
    .s-program-course__inner
      .s-program-course__form
        +form('', 'Получить программу', 'full', 'button--brown')
      .s-program-course__info
        h2.section__title.a-font_h2 Получить полную программу курса
        .s-program-course__text.a-font_text
          p Программа курса является не полной. Чтобы получить полную программу онлайн курса «Брюки» заполните форму.
          p Оставьте свои данные, и наши менеджеры по заботе о клиентах направят полную программу курса и ответят на вопросы
