-
  const faqItems = [
    {
      question: 'Часто задаваемый вопрос №1',
      answer: 'Все уроки курса записаны в 4к качестве. Они открываются тематическими блоками. Вы можете смотреть уроки в удобное время и с любого устройства. Доступ к видео-контенту закрывается через неделю после окончания курса.',
    },
    {
      question: 'Какие ткани будут использоваться для пошива?',
      answer: 'Все уроки курса записаны в 4к качестве. Они открываются тематическими блоками. Вы можете смотреть уроки в удобное время и с любого устройства. Доступ к видео-контенту закрывается через неделю после окончания курса.',
    },
    {
      question: 'Во время прохождения курса  у вас будет возможностось сдавать ваши работы',
      answer: 'Все уроки курса записаны в 4к качестве. Они открываются тематическими блоками. Вы можете смотреть уроки в удобное время и с любого устройства. Доступ к видео-контенту закрывается через неделю после окончания курса.',
    },
    {
      question: 'Часто задаваемый вопрос №2',
      answer: 'Все уроки курса записаны в 4к качестве. Они открываются тематическими блоками. Вы можете смотреть уроки в удобное время и с любого устройства. Доступ к видео-контенту закрывается через неделю после окончания курса.',
    },
  ]

section.s-faq.section
  .l-default
    .l-section__wrapper
      h2.section__title.a-font_h2 Вопрос — ответ
      .s-faq__wrapper
        each item, index in faqItems
          - if (index == 0)
            +m_accordion_item(item.question, item.answer, index, 'is-active')
          - else
            +m_accordion_item(item.question, item.answer, index, '')
