header.header
  .l-default
    .header__wrapper
      a.header__logo(href="")
        img(src="./img/global/logo.svg", alt="")
      .header__info
        .header__top
          a.header__phone(href="tel:+78008969623") +7 800 896 96 23
          a.header__call-btn(href="" data-fancybox="" data-src="#popupCall") Обратный звонок
          .header__langs
            span.header__langs-item._active(href="") ru
            .header__langs-line
            a.header__langs-item(href="") eng

        .header__bottom
          nav.header__menu
            li.header__menu-item
              a.header__menu-link(href="") Об Академии
            li.header__menu-item
              a.header__menu-link(href="") Курсы
              ul
                li
                  a(href="#") Название курса
                li
                  a(href="#") Название курса
                li
                  a(href="#") Название курса
                li
                  a(href="#") Название курса
            li.header__menu-item
              a.header__menu-link(href="") Bespoke Store
            li.header__menu-item
              a.header__menu-link(href="") Bespoke Offline
            li.header__menu-item
              a.header__menu-link(href="") Контакты
            li.header__menu-item
              a.header__menu-link(href="") Контакты