.header {
  padding: rem(14) 0;
  background-color: $blue;

  @media (min-width: 1024px) {
    padding: rem(32) 0;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;

    @media (min-width: 1024px) {
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  &__logo {
    img {
      height: rem(43);

      @media (min-width: 768px) {
        height: rem(79);
      }
    }
  }

  &__mobile {
    @media (max-width: 1024px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }

  &__toggle {
    z-index: 100;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-align: center;
    color: #fff;
    border: 0;
    background-color: transparent;

    @media (min-width: 1025px) {
      display: none;
    }

    > span {
      position: relative;
      display: inline-block;
      width: 34px;
      height: 2px;
      background: $white;
      vertical-align: middle;

      &:before,
      &:after {
        position: absolute;
        display: inline-block;
        height: 2px;
        background: $white;
        transition: all 200ms;
        content: "";
      }
      &:before {
        top: -11px;
        left: 3px;
        width: 28px;
      }
      &:after {
        top: 11px;
        left: 6px;
        width: 22px;
      }
    }

    &:focus {
      outline: none;
    }

    &:hover > span:after,
    &:hover > span:before {
      left: 0;
      width: 34px;
    }

    &._active {
      > span {
        height: 0;
        &:after,
        &:before {
          top: 0px;
          left: 0;
          width: 34px;
        }
        &:after {
          transform: rotate(-45deg);
        }
        &:before {
          transform: rotate(45deg);
        }
      }
    }
  }

  &__top {
    display: flex;
    justify-content: flex-start;
    margin-top: rem(40);
    margin-bottom: rem(16);
    grid-gap: rem(16);
    flex-direction: column;

    @media (min-width: 1024px) {
      align-items: center;
      justify-content: flex-end;
      margin-top: 0;
      flex-direction: row;
    }
  }

  &__phone {
    font-size: rem(16);
    font-weight: 700;
    text-decoration: none;
    color: $light-brown;
    @include tr(all);

    &:hover {
      color: $white;
    }
  }

  &__info {
    width: 100%;

    @media (max-width: 1024px) {
      display: none;
      flex-direction: column-reverse;

      &._active {
        display: flex;
      }
    }
  }

  &__call-btn {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    min-height: rem(29);
    padding: rem(8) rem(14);
    font-size: rem(14);
    text-decoration: none;
    color: $light-brown;
    border: rem(1) solid;
    border-color: $light-brown;
    outline: none;
    @include tr(all);

    &:hover {
      color: $white;
      border-color: $white;
    }
  }

  &__langs {
    display: flex;
    align-items: center;
    grid-gap: rem(16);

    &-item {
      cursor: pointer;
      display: block;
      font-size: rem(14);
      text-transform: uppercase;
      text-decoration: none;
      color: $white;
      @include tr(all);

      &._active {
        cursor: default;
        font-weight: 700;
      }

      &:hover {
        font-weight: 700;
        opacity: 0.8;
      }
    }

    &-line {
      width: rem(1);
      height: rem(10);
      background-color: $light-brown;
    }
  }

  &__menu {
    display: flex;
    margin-top: rem(34);
    gap: rem(15);
    list-style-type: none;
    flex-direction: column;

    @media (min-width: 1024px) {
      align-items: center;
      justify-content: flex-end;
      margin-top: 0;
      flex-direction: row;
      gap: rem(40);
    }

    &-item {
      position: relative;
      display: inline-block;
      margin-bottom: rem(10);

      &:hover {
        ul {
          display: block;
          opacity: 1;
          visibility: visible;
        }
      }
    }

    ul {
      display: none;
      width: rem(170);
      padding: rem(24) rem(13);
      background: $white;
      box-shadow: 0 rem(4) rem(30) rgba(0, 0, 0, 0.07);
      opacity: 0;
      transition: all 0.5s ease;
      list-style: none;
      visibility: hidden;

      @media (min-width: 1024px) {
        position: absolute;
        top: rem(40);
        left: 50%;
        transform: translateX(-50%);

        &::after {
          position: absolute;
          top: rem(-30);
          left: 50%;
          border: rem(15) solid transparent;
          transform: translateX(-50%);
          content: "";
          border-bottom: rem(15) solid $white;
        }
      }

      li {
        display: block;

        &:not(:last-child) {
          margin-bottom: rem(10);

          @media (min-width: 1200px) {
            margin-bottom: rem(14);
          }
        }

        &::before {
          display: none;
        }

        a {
          font-size: rem(14);
          line-height: rem(18);
          text-decoration: none;
          color: #252323;
        }
      }
    }

    &-link {
      text-transform: uppercase;
      text-decoration: none;
      color: $white;
    }
  }
}
