header.header
  .l-default
    .header__wrapper
      .header__mobile
        a.header__logo(href="")
          img(src="./img/global/logo.svg", alt="")
        button.header__toggle(type='button' aria-label='toggle menu')
          span(aria-hidden='true')
      .header__info
        .header__top
          a.header__phone(href="tel:+78008969623") +7 800 896 96 23
          a.header__call-btn(href="" data-fancybox="" data-src="#popupCall") Обратный звонок
          ul.header__langs
            li
              span.header__langs-item._active(href="") ru
            li
              a.header__langs-item(href="") eng

        .header__bottom
          nav.header__menu
            li.header__menu-item
              a.header__menu-link(href="/bespoke-academy.html") Об Академии
            li.header__menu-item
              a.header__menu-link(href="") Курсы
              ul
                li
                  a(href="#") Название курса
                li
                  a(href="#") Название курса
                li
                  a(href="#") Название курса
                li
                  a(href="#") Название курса
            li.header__menu-item
              a.header__menu-link(href="/store.html") Bespoke Store
            li.header__menu-item
              a.header__menu-link(href="/academy-offline.html") Bespoke Offline
            li.header__menu-item
              a.header__menu-link(href="/blog.html") Блог
            li.header__menu-item
              a.header__menu-link(href="/contacts.html") Контакты
