.ico-color-clock {
  width: 1em;
  height: 1em;
}
.ico-color-email {
  width: 1.21em;
  height: 1em;
}
.ico-color-location {
  width: 0.76em;
  height: 1em;
}
.ico-color-more {
  width: 3.43em;
  height: 1em;
}
.ico-color-phone {
  width: 1em;
  height: 1em;
}
