.ico-mono-booking_1 {
  width: 0.74em;
  height: 1em;
  fill: tan;
}
.ico-mono-booking_2 {
  width: 1em;
  height: 1em;
  fill: tan;
}
.ico-mono-booking_3 {
  width: 1em;
  height: 1em;
  fill: tan;
}
.ico-mono-booking_4 {
  width: 0.42em;
  height: 1em;
  fill: tan;
}
.ico-mono-booking_5 {
  width: 0.81em;
  height: 1em;
  fill: tan;
}
.ico-mono-check {
  width: 1.2em;
  height: 1em;
  fill: #fff;
}
.ico-mono-remove {
  width: 1em;
  height: 1em;
  fill: tan;
}
.ico-mono-shopping-cart {
  width: 1em;
  height: 1em;
  fill: #23356B;
}
.ico-mono-telegram {
  width: 1.14em;
  height: 1em;
  fill: tan;
}
.ico-mono-whatsapp {
  width: 0.96em;
  height: 1em;
  fill: tan;
}
