.s-intro {
  position: relative;

  @media (min-width: 768px) {
    margin-top: rem(-260);
  }

  &--offline {
    text-align: center;
  }

  &__inner {
    padding: rem(25);
    color: $white;
    background-color: $blue;

    @media (min-width: 768px) {
      padding: rem(40);
    }

    @media (min-width: 992px) {
      padding: rem(60);
    }

    .s-intro__text {
      max-width: rem(900);
      margin: 0 auto;
    }
  }

  &__wrapper {
    display: flex;
    padding: rem(25);
    color: $white;
    background-color: $blue;
    flex-wrap: wrap;

    @media (min-width: 768px) {
      padding: rem(40);
    }

    @media (min-width: 992px) {
      padding: rem(60);
    }
  }

  &__left {
    margin-bottom: rem(25);
    flex-basis: 100%;

    @media (min-width: 768px) {
      margin-bottom: 0;
      flex-basis: 60%;
    }
  }

  &__right {
    flex-basis: 100%;

    @media (min-width: 768px) {
      flex-basis: 40%;
    }
  }

  &__title {
    margin: 0 0 rem(15);
    font-size: rem(24);
    font-weight: 600;
    text-transform: uppercase;
    color: $white;

    @media (min-width: 992px) {
      margin: 0 0 rem(20);
      font-size: rem(40);
    }
  }

  &__subtitle {
    margin: 0 0 rem(15);
    font-family: $primary_font;
    font-size: rem(20);
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);

    @media (min-width: 992px) {
      margin: 0 0 rem(20);
      font-size: rem(25);
    }
  }

  &__text {
    max-width: rem(455);
    margin-bottom: rem(25);
  }

  &__note {
    margin-bottom: rem(25);
    font-family: $primary_font;
    color: $light-brown;
  }

  &__button {
    width: 100%;
    max-width: max-content;

    &:hover {
      border-color: $white;
    }
  }

  &-info {
    display: flex;
    grid-gap: rem(15);
    flex-direction: column;

    @media (min-width: 992px) {
      grid-gap: rem(25);
    }

    &__item {
      display: flex;
      align-items: flex-start;

      &-icon {
        margin-right: rem(15);
        flex: none;

        @media (min-width: 992px) {
          margin-right: rem(25);
        }
      }

      &-text {
        max-width: rem(270);
        font-family: $primary_font;
      }
    }
  }

  &-data {
    display: flex;
    align-items: flex-start;
    gap: rem(40);
    flex-wrap: wrap;

    &__item {
      &-title {
        margin-bottom: rem(10);
        font-size: rem(14);
        font-weight: 700;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.5);
      }

      &-info {
        display: flex;
        align-items: center;
      }

      &-image {
        margin-right: rem(15);
        flex: none;

        img {
          width: rem(80);
          height: auto;
          border-radius: 100%;
        }
      }
    }
  }

  &-list {
    margin-bottom: rem(38);

    &__item {
      position: relative;
      padding-left: rem(30);

      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        width: rem(17);
        height: rem(14);
        transform: translateY(-50%);
        content: " ";
        background-image: url("../img/global/check.svg");
      }
    }
  }
}
