section.section.s-intro.s-intro--offline
  .l-default
    .s-intro__inner
      h1.s-intro__title Bespoke ACADEMY Offline
      h3.s-intro__subtitle Очные-курсы
      .s-intro__text.a-font_text
        p Каждую последнюю  неделю месяца, проводится очное обучение на индивидуальной основе от мастера Рамиля Халикова, по индивидуальному пошиву Bespoke.
      .s-intro__note
        p Набор группы проходит каждые 3 недели с 1 по 15 число каждого месяца.
      a.s-intro__button.button.button--red(href="#") Купить курс