.s-intro {
  position: relative;

  @media (min-width: 768px) {
    margin-top: rem(-260);
  }

  &--offline {
    text-align: center;
  }

  &__inner {
    padding: rem(25);
    color: $white;
    background-color: $blue;

    @media (min-width: 768px) {
      padding: rem(40);
    }

    @media (min-width: 992px) {
      padding: rem(60);
    }

    .s-intro__text {
      max-width: rem(900);
      margin: 0 auto;
    }
  }

  &__wrapper {
    display: flex;
    padding: rem(25);
    color: $white;
    background-color: $blue;
    flex-wrap: wrap;

    @media (min-width: 768px) {
      padding: rem(40);
    }

    @media (min-width: 992px) {
      padding: rem(60);
    }
  }

  &__left {
    margin-bottom: rem(25);
    flex-basis: 100%;

    @media (min-width: 768px) {
      margin-bottom: 0;
      flex-basis: 60%;
    }
  }

  &__right {
    flex-basis: 100%;

    @media (min-width: 768px) {
      flex-basis: 40%;
    }
  }

  &__title {
    margin: 0 0 rem(15);
    font-size: rem(24);
    font-weight: 600;
    text-transform: uppercase;
    color: $white;

    @media (min-width: 992px) {
      margin: 0 0 rem(20);
      font-size: rem(40);
    }
  }

  &__subtitle {
    margin: 0 0 rem(15);
    font-family: $primary_font;
    font-size: rem(20);
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);

    @media (min-width: 992px) {
      margin: 0 0 rem(20);
      font-size: rem(25);
    }
  }

  &__text {
    max-width: rem(455);
    margin-bottom: rem(25);
  }

  &__note {
    margin-bottom: rem(25);
    font-family: $primary_font;
    color: $light-brown;
  }

  &__button {
    width: 100%;
    max-width: rem(230);

    &:hover {
      border-color: $white;
    }
  }

  &-info {
    display: flex;
    grid-gap: rem(15);
    flex-direction: column;

    @media (min-width: 992px) {
      grid-gap: rem(25);
    }

    &__item {
      display: flex;
      align-items: flex-start;

      &-icon {
        margin-right: rem(15);
        flex: none;

        @media (min-width: 992px) {
          margin-right: rem(25);
        }
      }

      &-text {
        max-width: rem(270);
        font-family: $primary_font;
      }
    }
  }
}
