.s-contacts {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: 992px) {
      grid-gap: rem(30);
      flex-wrap: nowrap;
    }
  }

  &__info {
    flex-basis: 100%;

    @media (min-width: 992px) {
      flex-basis: 60%;
    }
  }

  &__data {
    margin-bottom: rem(25);

    @media (min-width: 992px) {
      margin-bottom: rem(52);
    }
  }

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: rem(15);

      @media (min-width: 992px) {
        margin-bottom: rem(25);
      }
    }

    &-icon {
      margin-right: rem(15);
      flex: none;

      @media (min-width: 992px) {
        margin-right: rem(25);
      }

      svg {
        width: rem(20);
        height: auto;
        max-height: rem(21);
      }
    }

    &-text {
      font-family: $primary_font;
      font-size: rem(16);
      line-height: 1.4;

      a {
        display: block;
        text-decoration: none;
        color: $base;
        transition: 0.5s all ease;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__map {
    overflow: hidden;
    cursor: help;
    position: relative;
    margin-bottom: rem(25);

    @media (min-width: 992px) {
      margin-bottom: 0;
    }

    iframe {
      border: 0;
    }

    .mapTitle {
      z-index: 1000;
      position: absolute;
      display: none;
      padding: rem(5) rem(20);
      background: rgb(255, 255, 255);
      border-radius: rem(5);
      box-shadow: rgba(0, 0, 0, 0.25) 0 0 rem(5);
      border-width: rem(1);
      border-style: solid;
      border-color: rgb(204, 204, 204);
      border-image: initial;
    }
  }

  &__form {
    display: flex;
    justify-content: center;
    flex-basis: 100%;

    @media (min-width: 992px) {
      flex-basis: 40%;
    }

    .form-def {
      max-width: rem(560);
    }
  }
}
