include ../../blocks/components/m_card/m_card.pug
include ../../blocks/components/breadcrumb/breadcrumb.pug
include ../../blocks/components/pagination/pagination.pug
include ../../blocks/components/m_accordion/m_accordion.pug
include ../../blocks/components/m_list_item/m_list_item.pug
include ../../blocks/components/form/form.pug
include ../../blocks/components/m_video_intro/m_video_intro.pug
include ../../blocks/components/m_infoblock/m_infoblock.pug
include ../../blocks/components/m_product/m_product.pug