extends ../layouts/default
include ../helpers/_mixins

block variables
  - const title = "Bespoke ACADEMY Offline"

block content
  +m_video_intro('https://storage.coverr.co/videos/eRXxNrZUl2d00VV9zYu02oycWbjfiFAe9H?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBJZCI6Ijg3NjdFMzIzRjlGQzEzN0E4QTAyIiwiaWF0IjoxNjUzNDY3MzE5fQ.Acc6Qu9g3O9A4f1EG2KR2HuUDKVlGeYop_u9ydMmn68', 'poster', '_mini')
  include ../../../src/blocks/modules/s_intro/s_intro_offline.pug
  include ../../../src/blocks/modules/s_themes_education/s_themes_education.pug
  include ../../../src/blocks/modules/s_program/s_program_bespoke_academy.pug
  include ../../../src/blocks/modules/s_program/s_program.pug
  include ../../../src/blocks/modules/s_teacher/s_teacher.pug
  include ../../../src/blocks/modules/s_gallery/s_gallery.pug
  include ../../../src/blocks/modules/s_faq/s_faq.pug

block scripts
  script(defer src="./js/vendor.js")
  script(defer src="./js/main.js")