extends ../layouts/default
include ../helpers/_mixins

block variables
  - const title = "Bespoke ACADEMY Offline"

block content
  include ../../../src/blocks/modules/s_themes_education/s_themes_education.pug
  include ../../../src/blocks/modules/s_teacher/s_teacher.pug
  include ../../../src/blocks/modules/s_faq/s_faq.pug

block scripts
  script(defer src="./js/vendor.js")
  script(defer src="./js/main.js")