extends ../layouts/default
include ../helpers/_mixins

block variables
  - const title = "ОНЛАЙН КУРС «Брюки»"
  - const introClassName = 's-video-intro--mini'

block content
  +m_video_intro('https://storage.coverr.co/videos/KSZ8Vw1N3c325d6meDgR02stF4hSW3gfm?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBJZCI6Ijg3NjdFMzIzRjlGQzEzN0E4QTAyIiwiaWF0IjoxNjUzNDU5MzI5fQ.SgqjfWHsj6a0jZZQlG3QiRXG1cDdmgxl3gTER9Z1hfg', 'poster', '_mini')
  include ../../../src/blocks/modules/s_intro/s_intro_accademy.pug
  include ../../../src/blocks/modules/s_training/s_training.pug
  +m_video_intro('https://storage.coverr.co/videos/eRXxNrZUl2d00VV9zYu02oycWbjfiFAe9H?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBJZCI6Ijg3NjdFMzIzRjlGQzEzN0E4QTAyIiwiaWF0IjoxNjUzNDY3MzE5fQ.Acc6Qu9g3O9A4f1EG2KR2HuUDKVlGeYop_u9ydMmn68', 'poster', 'section')
  include ../../../src/blocks/modules/s_who/s_who.pug
  include ../../../src/blocks/modules/s_included/s_included.pug
  include ../../../src/blocks/modules/s_program/s_program_bespoke_academy.pug
  include ../../../src/blocks/modules/s_program/s_program.pug
  include ../../../src/blocks/modules/s_program_course/s_program_course.pug
  include ../../../src/blocks/modules/s_content/s_content.pug
  +m_infoblock('<b><span>10% скидка</span> на материалы при предъявлении промокода «BESPOKE»</b>', '')
  include ../../../src/blocks/modules/s_teacher/s_teacher.pug
  include ../../../src/blocks/modules/s_gallery/s_gallery.pug
  include ../../../src/blocks/modules/s_booking/s_booking.pug
  include ../../../src/blocks/modules/s_faq/s_faq.pug
  include ../../../src/blocks/modules/s_other_courses/s_other_courses.pug

block scripts
  script(defer src="./js/vendor.js")
  script(defer src="./js/main.js")