extends ../layouts/default
include ../helpers/_mixins

block variables
  - const title = "ОНЛАЙН КУРС «Брюки»"

block content
  include ../../../src/blocks/modules/s_training/s_training.pug
  include ../../../src/blocks/modules/s_who/s_who.pug
  include ../../../src/blocks/modules/s_included/s_included.pug
  include ../../../src/blocks/modules/s_program/s_program_bespoke_academy.pug
  include ../../../src/blocks/modules/s_program/s_program.pug
  include ../../../src/blocks/modules/s_content/s_content.pug
  include ../../../src/blocks/modules/s_teacher/s_teacher.pug
  include ../../../src/blocks/modules/s_gallery/s_gallery.pug
  include ../../../src/blocks/modules/s_faq/s_faq.pug

block scripts
  script(defer src="./js/vendor.js")
  script(defer src="./js/main.js")