section.s-booking.section
  .l-default
    h2.section__title.a-font_h2 Забронируй место <br>на курсе «Брюки»
    .s-booking__inner
      .s-booking__data
        .s-booking__about
          .s-booking__item
            .s-booking__item-title Стоимость
            .s-booking__item-text 10 000 ₽
          .s-booking__item
            .s-booking__item-title Период обучение
            .s-booking__item-text 1 месяц
        .s-booking__buttons
          a.button.button--red(href="#") Купить
          a.button.button--brown-light(href="#" data-fancybox="" data-src="#popupOrder") Купить в рассрочку
          a.button.button--brown-light(href="#" data-fancybox="" data-src="#popupCourse") Записаться
      .s-booking__info
        .s-booking-info__item
          .s-booking-info__item-icon
            +svgMono("booking_1")
          .s-booking-info__item-title Обучение с преподавателем
        .s-booking-info__item
          .s-booking-info__item-icon
            +svgMono("booking_2")
          .s-booking-info__item-title Проверяет домашнее задание
        .s-booking-info__item
          .s-booking-info__item-icon
            +svgMono("booking_3")
          .s-booking-info__item-title Сертификат
        .s-booking-info__item
          .s-booking-info__item-icon
            +svgMono("booking_4")
          .s-booking-info__item-title 1 итоговое работа
        .s-booking-info__item
          .s-booking-info__item-icon
            +svgMono("booking_5")
          .s-booking-info__item-title Список материалов

