-
  const teamsItems = [
    {
      icon: './img/s-teams/photo.jpg',
      title: 'Рамиль Халиков',
      text: 'Рамиль Халиков - преподаватель нашей академии. После школы, в 14 лет, поступил в профессиональное швейное училище по специальности «Портной».',
    },
    {
      icon: './img/s-teams/photo.jpg',
      title: 'Рамиль Халиков',
      text: 'Рамиль Халиков - преподаватель нашей академии. После школы, в 14 лет, поступил в профессиональное швейное училище по специальности «Портной».',
    },
    {
      icon: './img/s-teams/photo.jpg',
      title: 'Рамиль Халиков',
      text: 'Рамиль Халиков - преподаватель нашей академии. После школы, в 14 лет, поступил в профессиональное швейное училище по специальности «Портной».',
    },
    {
      icon: './img/s-teams/photo.jpg',
      title: 'Рамиль Халиков',
      text: 'Рамиль Халиков - преподаватель нашей академии. После школы, в 14 лет, поступил в профессиональное швейное училище по специальности «Портной».',
    },
    {
      icon: './img/s-teams/photo.jpg',
      title: 'Рамиль Халиков',
      text: 'Рамиль Халиков - преподаватель нашей академии. После школы, в 14 лет, поступил в профессиональное швейное училище по специальности «Портной».',
    },
    {
      icon: './img/s-teams/photo.jpg',
      title: 'Рамиль Халиков',
      text: 'Рамиль Халиков - преподаватель нашей академии. После школы, в 14 лет, поступил в профессиональное швейное училище по специальности «Портной».',
    },
  ]

section.section.s-teams
  .l-default
    h1.page__title.a-font_h1= title
    .s-teams__wrapper
      each item in teamsItems
        .s-teams__item
          .s-teams__item-photo
            img(src=item.icon, alt="")
          .s-teams__item-title.a-font_h3=item.title
          .s-teams__item-text.a-font_text=item.text
