section.section.s-success
  .l-default
    .s-success__inner
      +svgColor("thanks")
      h2.section__title.a-font_h2 Спасибо!
      .s-success__text  Ваш заказ N123. Мы с вами свяжемся для подтверждения заказа.