extends layouts/default
include helpers/_mixins

block variables
  - const title = "Главная страница проекта"

block content
  include ../blocks/modules/s_intro/s_intro.pug
  include ../blocks/modules/s_about/s_about.pug
  include ../blocks/modules/s_info/s_info.pug
  include ../blocks/modules/s_course_direction/s_course_direction.pug
  include ../blocks/modules/s_infoblock/s_infoblock.pug
  include ../blocks/modules/s_content/s_content.pug
  include ../blocks/modules/s_teacher/s_teacher.pug
  include ../blocks/modules/s_gallery/s_gallery.pug
block scripts
  script(defer src="./js/vendor.js")
  script(defer src="./js/main.js")