extends layouts/default
include helpers/_mixins

block variables
  - const title = "Главная страница проекта"

block content
  +m_video_intro('https://storage.coverr.co/videos/WGIKwGxp2SV6r3yhF1Ik2zAPTacF7CWt?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBJZCI6Ijg3NjdFMzIzRjlGQzEzN0E4QTAyIiwiaWF0IjoxNjUzNDU5MzI5fQ.SgqjfWHsj6a0jZZQlG3QiRXG1cDdmgxl3gTER9Z1hfg', 'poster', '')
  include ../blocks/modules/s_intro/s_intro.pug
  include ../blocks/modules/s_about/s_about.pug
  include ../blocks/modules/s_info/s_info.pug
  include ../blocks/modules/s_course_direction/s_course_direction.pug
  +m_infoblock('<b>При покупке курса - с допольнительным материалом, разные карманы 2шт.</b><br>Лекало от Рамиля Халикова по брюкам', '*При покупке с обратной связью')
  include ../blocks/modules/s_content/s_content.pug
  include ../blocks/modules/s_teacher/s_teacher.pug
  include ../blocks/modules/s_gallery/s_gallery.pug
block scripts
  script(defer src="./js/vendor.js")
  script(defer src="./js/main.js")