.s-popup#popupThanks
  .s-popup__thanks
    .s-popup__thanks-info
      +svgColor("thanks")
      .s-popup__thanks-title Спасибо!
      .s-popup__thanks-text Ваша заявка отправлена. Мы вам перезвоним.

.s-popup.s-popup-action.s-popup--full#popupInfoAction
  .s-popup__action
    .s-popup__action-wrapper
      .s-popup__action-col
        .s-popup__action-title.a-font_h4
          span 10% скидка
          |
          | на материалы при предъявлении промокода «BESPOKE»
        .s-popup__action-text
          p Вы научитесь шить быстрым способом брюки, за 1 день, невидимые карманы, невидимые швы, стильный крой. Быстрая сдача работы.
          p Лекало в комплекте
        a.button.button--brown(href="#" data-fancybox="" data-src="#popupActions") Участвовать в акции
      .s-popup__action-col
        img(src="./img/s-popup/action.jpg", alt="")

.s-popup#popupActions
  .s-popup__form
    +form('Участие в акции', 'Отправить заявку', 'full')

.s-popup#popupOrder
  .s-popup__form
    +form('Записаться на курс', 'Записаться', 'full')

.s-popup#popupCall
  .s-popup__form
    +form('Заказать обратный звонок', 'Перезвоните мне', '')

//- data-fancybox="" data-src="#popupCall"