.s-popup {
  display: none;
  width: 100%;
  max-width: rem(576);
  padding: 0;
  background-color: $blue;

  &--full {
    max-width: rem(1200);
  }

  &__form {
    padding-top: rem(30);

    .is-close {
      top: rem(15) !important;
      right: rem(15) !important;
    }
  }

  &__thanks {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: rem(160);
    padding-bottom: rem(160);
    text-align: center;
    color: $white;
    background-color: $blue;

    .is-close {
      top: rem(15) !important;
      right: rem(15) !important;
    }

    svg {
      width: rem(110);
      height: auto;
      margin-bottom: rem(45);
    }

    &-title {
      margin-bottom: rem(30);
      font-size: rem(32);
      font-weight: 700;
      text-transform: uppercase;
    }

    &-text {
      max-width: rem(279);
      margin: 0 auto;
      font-family: $primary_font;
      font-size: rem(20);
      line-height: 1.34;
    }
  }

  &-product {
    max-width: rem(784);
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.27);

    &__wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      @media (min-width: 660px) {
        flex-direction: row;
      }
    }

    &__photo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: rem(35);
      background-color: $white;

      @media (min-width: 660px) {
        width: 45%;
      }
    }

    &__image {
      width: 100%;
      height: auto;
    }

    &__info {
      width: 100%;
      padding: rem(30) rem(20);
      background: #f6f6f6;

      @media (min-width: 660px) {
        width: 55%;
        padding: rem(50) rem(30);
      }

      &-top {
        margin-bottom: rem(20);
        border-bottom: rem(1) solid $light-brown;

        @media (min-width: 660px) {
          margin-bottom: rem(40);
        }
      }

      &-bottom {
        form {
          display: flex;
          align-items: center;
          gap: rem(10);
        }
      }
    }

    &__title {
      margin-bottom: rem(10);
      font-family: $primary_font;
      font-size: rem(24);
      font-weight: 600;
      color: $blue;
    }

    &__price {
      margin-bottom: rem(20);
      font-family: $primary_font;
      font-size: rem(16);
      font-weight: 700;
      color: #252323;

      @media (min-width: 660px) {
        margin-bottom: rem(40);
      }
    }

    &__description {
      margin-bottom: rem(20);

      @media (min-width: 660px) {
        margin-bottom: rem(40);
      }
    }

    &__button {
      display: inline-flex;
      align-items: center;
      padding: rem(5) rem(8);
      font-family: $primary_font;
      text-transform: uppercase;
      color: $white;
      border: 0;
      white-space: nowrap;
      background-color: $red;

      @media (min-width: 660px) {
        padding: rem(8);
        font-size: rem(18);
      }
    }
  }

  &-action {
    @media (min-width: 992px) {
      .is-close {
        top: rem(15) !important;
        right: rem(15) !important;
      }
    }
  }

  &__action {
    padding: rem(20) rem(15);
    color: $white;

    @media (min-width: 992px) {
      padding: rem(48) rem(60);
    }

    &-wrapper {
      display: grid;
      align-items: center;
      grid-gap: rem(25);
      grid-template-columns: repeat(1, 1fr);

      @media (min-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &-title {
      margin-bottom: rem(20);
      font-weight: 700;
      line-height: 1.34;

      @media (min-width: 768px) {
        margin-bottom: rem(40);
        line-height: 1.43;
      }

      span {
        color: $light-brown;
      }
    }

    &-text {
      margin-bottom: rem(20);

      @media (min-width: 768px) {
        margin-bottom: rem(40);
      }
    }
  }

  &__course {
    padding: rem(20) rem(15);
    color: $white;

    @media (min-width: 992px) {
      padding: rem(48) rem(60);
    }

    &-wrapper {
      display: grid;
      grid-gap: rem(25);
      grid-template-columns: repeat(1, 1fr);

      @media (min-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &-title {
      margin-bottom: rem(20);
      font-weight: 600;
      line-height: 1.34;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.5);

      @media (min-width: 768px) {
        margin-bottom: rem(25);
        line-height: 1.43;
      }

      span {
        color: $light-brown;
      }
    }

    &-text {
      margin-bottom: rem(20);

      @media (min-width: 768px) {
        margin-bottom: rem(40);
      }
    }

    &-teacher {
      margin-bottom: rem(20);

      @media (min-width: 768px) {
        margin-bottom: rem(40);
      }

      &__title {
        margin-bottom: rem(10);
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.5);
      }

      &__wrap {
        display: flex;
        align-items: center;
      }

      &__img {
        margin-right: rem(15);
        flex: none;

        img {
          width: rem(80);
          height: auto;
          border-radius: 100%;
        }
      }

      &__name {
        font-family: $primary_font;
        font-size: rem(16);
        font-weight: 400;
      }
    }

    &-data {
      display: grid;
      align-items: center;
      margin-bottom: rem(20);
      grid-gap: rem(30) rem(60);
      grid-template-columns: repeat(1, 1fr);

      @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (min-width: 768px) {
        margin-bottom: rem(40);
      }

      &__title {
        margin-bottom: rem(5);
        font-weight: 700;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.5);
      }

      &__text {
        font-family: $primary_font;

        span {
          font-weight: 700;
        }
      }
    }

    &-cost {
      margin-bottom: rem(20);
      text-transform: uppercase;

      @media (min-width: 768px) {
        margin-bottom: rem(40);
      }
    }
  }
}
