section.section.s-cost
  .l-default
    h2.section__title.a-font_h2 Стоимость обучения
  //- +m_video_intro('https://storage.coverr.co/videos/KSZ8Vw1N3c325d6meDgR02stF4hSW3gfm?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBJZCI6Ijg3NjdFMzIzRjlGQzEzN0E4QTAyIiwiaWF0IjoxNjUzNDU5MzI5fQ.SgqjfWHsj6a0jZZQlG3QiRXG1cDdmgxl3gTER9Z1hfg', 'poster', '_mini')
  .l-default
    .s-cost__inner
      .s-cost__col
        .s-cost__text.a-font_text Стоимость недели offline обучения индивидуальному пошиву Bespoke за 5 дней
        .s-cost__price СТОИМОСТЬ: 75 000 ₽
        .s-cost__buttons
          a.button.button--red(href="#") Купить
          a.button.button--brown-light(href="#" data-fancybox="" data-src="#popupOrder") Купить в рассрочку
      .s-cost__col
        .s-cost__image
          img(src="./img/s-cost/image.jpg", alt="", loading="lazy")