-
  const programsItems = [
    {
      title: '1 блок. Теория введение, кроя брюк',
      teacherTitle: 'Рамиль Халиков',
      teacherPhoto: './img/global/teacher.jpg',
      content: [
        {
          text: 'Какая ткать будет использоваться',
        },
        {
          text: 'Какие карманы  мы будем использовать',
        },
        {
          text: 'Какую ткань выбрать для подкладки',
        },
        {
          text: 'Какие инструменты и гладильное оборудование нам понадобиться',
        },
      ],
      durations: [
        {
          title: 'Объем',
          text: '4 урока'
        },
        {
          title: 'Продолжительность',
          text: '30 минут'
        }
      ],
      list: [
        {
          title: 'Урок 1',
          text: 'Какая ткань будет использоваться',
          image: './img/s-program/offline/1-1.jpg',
        },
        {
          title: 'Урок 2',
          text: 'Какие карманы  мы будем использовать',
          image: './img/s-program/offline/1-2.jpg',
        },
        {
          title: 'Урок 3',
          text: 'Какую ткань выбрать для подкладки',
          image: './img/s-program/offline/1-3.jpg',
        }
      ]
    },
    {
      title: "2 блок.практика Снятие мерок на моделе",
      content: [
        {
          text: 'Снятие мерок на моделе',
        },
        {
          text: 'Базовые конструкция мужских брюк',
        },
      ],
      durations: [
        {
          title: 'Объем',
          text: '2 урока'
        },
        {
          title: 'Продолжительность',
          text: '1 час'
        }
      ],
      list: [
        {
          title: 'Урок 1',
          text: 'Снятие мерок на моделе',
          image: './img/s-program/offline/2-1.jpg',
        },
        {
          title: 'Урок 2',
          text: 'Базовые конструкция мужских брюк',
          image: './img/s-program/offline/2-2.jpg',
        }
      ]
    },
    {
      title: "3 блок. Крой мужских брюк",
      content: [
        {
          text: 'Декатеровка ткани',
        },
        {
          text: 'Раскладка на столе',
        },
        {
          text: 'Крой мужских брюк со всеми подкрайными деталями (Подкладка,карманка и.т.д)',
        },
      ],
      durations: [
        {
          title: 'Объем',
          text: '5 уроков'
        },
        {
          title: 'Продолжительность',
          text: '2 часа'
        }
      ],
      list: [
        {
          title: 'Урок 1',
          text: 'Декатеровка ткани',
          image: './img/s-program/offline/3-1.jpg',
        },
        {
          title: 'Урок 2',
          text: 'Раскладка на столе',
          image: './img/s-program/offline/3-2.jpg',
        },
        {
          title: 'Урок 3',
          text: 'Крой мужских брюк со всеми подкрайными деталями (Подкладка,карманка и.т.д)',
          image: './img/s-program/offline/3-3.jpg',
        }
      ]
    },
  ]
