.s-program {
  &__teacher {
    display: flex;
    align-items: center;

    &-photo {
      margin-right: rem(24);
      flex: none;

      img {
        width: rem(117);
        height: rem(117);
        border-radius: 100%;
      }
    }
  }

  &__item {
    margin-bottom: rem(60);

    @media (min-width: 992px) {
      margin-bottom: rem(100);
    }

    &-content {
      display: grid;
      margin-bottom: rem(40);
      grid-template-columns: repeat(1, 1fr);
      grid-gap: rem(40);

      @media (min-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
      }

      ul {
        margin-left: rem(15);
        list-style: square;

        li {
          &::marker {
            line-height: 1.4;
            color: $light-brown;
          }

          &::before {
            display: none;
          }
        }
      }
    }

    &-title {
      margin-bottom: rem(22);
      text-transform: uppercase;
      color: $blue;
    }

    &-durations {
      display: flex;
      align-items: center;
      margin-bottom: rem(50);
      flex-wrap: wrap;
      grid-gap: rem(40);
    }

    &-duration {
      &__title {
        margin-bottom: rem(12);
        font-weight: 600;
        text-transform: uppercase;
        color: $blue;
      }

      &__text {
        font-family: $primary_font;
      }
    }

    &-list {
      display: grid;
      grid-gap: rem(16);
      grid-template-columns: repeat(1, 1fr);

      @media (min-width: 575px) {
        grid-gap: rem(24);
        grid-template-columns: repeat(2, 1fr);
      }

      @media (min-width: 1200px) {
        margin-bottom: rem(67);
        grid-gap: rem(40);
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  &__more {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    button {
      margin-bottom: rem(20);
    }
  }
}
