section.s-infoblock.section
  .s-infoblock__inner
    .l-default
      .s-infoblock__wrapper
        .s-infoblock__info
          .s-infoblock__title
            p
              b При покупке курса - с допольнительным материалом, разные карманы 2шт.
            p Лекало от Рамиля Халикова по брюкам
          .s-infoblock__note *При покупке с обратной связью
          a.button.s-infoblock__button(href="#") Подробнее
        .s-infoblock__photo
          img(src="/img/s-infoblock/cover.jpg", alt="", loading="lazy")
