section.section.s-teacher
  .l-default
    .s-teacher__wrapper
      h2.section__title.a-font_h2 Преподаватель курса
      .s-teacher__inner
        .s-teacher__photo
          +webp('s-teacher/photo', type='jpg', lazy,  alt="Преподаватель курса")
        .s-teacher__info
          .s-teacher__name.a-font_h3 Рамиль Халиков
          .s-teacher__text.a-font_text
            p Рамиль Халиков - преподаватель нашей академии. После школы, в 14 лет, поступил в профессиональное швейное училище по специальности «Портной».
            p Закончив училище, два с половиной года проработал в экспериментальном цеху и получил 5 разряд портного. С 1998 -2002 - Работал в частном ателье по пошиву мужской и женской одежды. Следующим шагом в карьере настало время набраться опыта за рубежом.
            p с 2003-2008 - работал в ателье в Нью Йорке на 5 авеню в VISALLY VFNS CUTURE,  партнерами которого были MORLY SILLS и DUNHILL TALORS.
            p Клиентами данных компаний были такие люди, как: Frank Sinatra, Martin Scorsese,  Albert Gore,  Jonathan Bush Chris Rock.
          a.s-teacher__btn.button(href="") Подробнее
