.s-teacher {
  &__inner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: rem(40);

    @media (min-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__photo {
    img {
      width: 100%;
      height: auto;
      max-width: rem(450);
      border-radius: 100%;
    }
  }

  &__name {
    color: $blue;
  }

  &__text {
    font-family: $primary_font;
    margin-bottom: rem(50);
  }
}
