mixin m_accordion_item(question, answer, index, classActive)
  .accordion-item
    .accordion-item__question(data-tab-target="tab_" + index, class!= classActive)
      .accordion-item__question-title.a-font_text!= question
      .accordion-item__question-icon
        svg(width='35' height='38' viewBox='0 0 35 38' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M31.4211 12.5709C31.0108 12.1256 30.4545 11.8755 29.8745 11.8755C29.2944 11.8755 28.7381 12.1256 28.3279 12.5709L17.4998 24.3271L6.67168 12.5709C6.25912 12.1382 5.70655 11.8988 5.13299 11.9043C4.55944 11.9097 4.01078 12.1594 3.6052 12.5998C3.19962 13.0401 2.96957 13.6358 2.96459 14.2585C2.9596 14.8812 3.18009 15.4812 3.57856 15.9291L15.9532 29.3645C16.3635 29.8097 16.9198 30.0599 17.4998 30.0599C18.0799 30.0599 18.6362 29.8097 19.0464 29.3645L31.4211 15.9291C31.8311 15.4837 32.0615 14.8797 32.0615 14.25C32.0615 13.6202 31.8311 13.0162 31.4211 12.5709Z' fill='#23356B')
    .accordion-item__answer(data-tab-content, id="tab_" + index)
      .accordion-item__answer-text.a-font_text!= answer
