section.section.s-about
  .l-default
    .s-about__wrapper
      .s-about__photo
        img(src="/img/s-about/photo.jpg", alt="Об академии", loading="lazy")
      .s-about__info
        h2.section__title.a-font_h2 Об академии
        .s-about__text.a-font_text
          p Мы команда профессионалов, занимающиеся пошивом более 20 лет. И накопленный опыт дает возможность поделиться знаниями в пошиве Bespoke.
          p Начать обучение возможно в любом возрасте. В Bespoke Academy есть два направления, как онлайн ,так и офлайн обучение.
          p На базе нашего опыта мы записали  онлайн курсы для обучения, где передаем опыт и технику. Так же в Bespoke Academy  мы проводим курсы по индивидуальному пошиву техники bespoke с Рамилем Халиковым .
