-
  const teamsItems = [
    {
      image: './img/s-blog/photo.jpg',
      title: 'Название статьи',
      date: '04.04.2022',
      text: 'Краткое описание',
    },
    {
      image: './img/s-blog/photo.jpg',
      title: 'Название статьи',
      date: '04.04.2022',
      text: 'Краткое описание',
    },
    {
      image: './img/s-blog/photo.jpg',
      title: 'Название статьи',
      date: '04.04.2022',
      text: 'Краткое описание',
    },
    {
      image: './img/s-blog/photo.jpg',
      title: 'Название статьи',
      date: '04.04.2022',
      text: 'Краткое описание',
    },
    {
      image: './img/s-blog/photo.jpg',
      title: 'Название статьи',
      date: '04.04.2022',
      text: 'Краткое описание',
    },
    {
      image: './img/s-blog/photo.jpg',
      title: 'Название статьи',
      date: '04.04.2022',
      text: 'Краткое описание',
    },
    {
      image: './img/s-blog/photo.jpg',
      title: 'Название статьи',
      date: '04.04.2022',
      text: 'Краткое описание',
    },
    {
      image: './img/s-blog/photo.jpg',
      title: 'Название статьи',
      date: '04.04.2022',
      text: 'Краткое описание',
    },
    {
      image: './img/s-blog/photo.jpg',
      title: 'Название статьи',
      date: '04.04.2022',
      text: 'Краткое описание',
    },
  ]

section.section.s-blog
  .l-default
    h1.page__title.a-font_h1= title
    .s-blog__wrapper
      each item in teamsItems
        +m_card(item.title, item.image, item.text, item.date, item.link)
    +pagination(5, 3, 4, 9, arrows)
