.s-video-intro
  video(poster='poster.jpg' autoplay='' playsinline='' muted='' loop='')
    source(src='https://storage.coverr.co/videos/WGIKwGxp2SV6r3yhF1Ik2zAPTacF7CWt?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBJZCI6Ijg3NjdFMzIzRjlGQzEzN0E4QTAyIiwiaWF0IjoxNjUzNDU5MzI5fQ.SgqjfWHsj6a0jZZQlG3QiRXG1cDdmgxl3gTER9Z1hfg' type='video/mp4')
